*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    background: rgba(0, 0, 0, 0.7)  url(./asset/background_netflix.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;

}



.navbar {
    display: flex;
    justify-content: space-between;
}

.netflix {
    width: 10%;
}

.twobutton{
    display: flex;
    justify-content:flex-end;
    padding: 1rem ;
    
}

.france{
    border: 1px solid white;
    background-color: black;
    color: white;
    height: 2rem;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    width: 6.5rem;
    margin: 0 1rem;
    cursor: pointer;
    text-align: center;
}

.identifier{
    background-color: rgb(255, 0, 0);
    color: white;
    height: 2rem;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    width: 6.5rem;
    margin: 0 1rem;
    cursor: pointer;
    text-align: center;

}

/* container */
.main{
    text-align: center;
    color: white;
    
}

.main h1{
    font-size: 3.25rem;
    margin: 5rem auto 2rem auto;
}

.main .contenu{
    font-size: 1.25rem;
    margin: 0 auto 1.5rem auto;
}

.main p{
    font-size: 0.75rem;
    margin-bottom: 1.25rem;
}



.recherche{
    display: flex;
    justify-content: center;
   
}

.commencer{
    background-color: red;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 0.75rem 0.75rem;
    text-align: center; 
    width: 10rem;
    cursor: pointer;
}

input{
    font-size: 1.2rem;
    padding: 0.75rem 0.75rem;
    width: 20rem;
    cursor: pointer;
}

